<header>
    <div class="header__container">
        <div class="search__block">
            <div class="logo">
                <img src="../../assets/logo.svg" alt="header-logo">
            </div>
            <div class="search">
                <input type="text" placeholder="What are you want to find out?">
                <button>search</button>
            </div>
            <div class="settings">
                <button style="width: 24px; height: 24px;">
                  <img src="../../assets/search_settings.svg" alt="img">
                </button>
            </div>
        </div>
        <div class="login-block">
            <button>Войти</button>
        </div>
    </div>
</header>
